@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap'); */

.App {
    padding: 5rem 10rem;
    background-image: url('http://wallpapercave.com/wp/4W2pw5V.jpg');
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    height: 100vh;
    text-align: center;
    transition: ease 0.3s;
}


.search{
    margin: 0rem 0rem 1rem 30rem;
    transition: ease 0.3s;
}
.search-input {
    width: 20vw;
    color: white;
    margin: 0 auto;
    transition: ease 0.3s;
}

.main {
    width: 60vw;
    margin: 2rem auto;
    border-radius: 20px;
    background-color: transparent;
    background-image: linear-gradient(rgba(206, 206, 206, 0.101), rgba(150, 150, 150, 0.173));
    font-family: 'Circular', sans-serif;
    backdrop-filter: blur(5px);
    height: 70vh;
    transition: ease 0.3s;
}

.top {
    height: 60px;
    background-color: #424242;
    color: whitesmoke;
    padding: 10px;
    border-radius: 20px 20px 0 0;
    font-family: 'Recursive', sans-serif;
    display: flex;
    justify-content: space-between;
    transition: ease 0.3s;
}

.header {
    background-color: #424242;
    color: whitesmoke;
    margin: 10px 0px 0px 10px;
    font-size: 25px;
    border-radius: 20px 20px 0 0;
    font-family: 'Recursive', sans-serif;
    transition: ease 0.3s;
}

.day {
    padding: 15px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 24px;
    font-weight: 600;
    transition: ease 0.3s;
}

.temp {
    padding: 15px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
    transition: ease 0.3s;
}

.flex {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    animation: fadeIn 0.7s ease-in-out;
    transition: ease 0.3s;
}

.loader{
    color: aliceblue;
    transition: ease 0.3s;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.sunrise-sunset {
    padding: 15px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 16px;
    transition: ease 0.3s;
}

.description {
    padding: 15px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 24px;
    font-weight: 600;
    transition: ease 0.3s;
}

.button {
    width: 35px;
    height: 35px;
    transition: ease 0.3s;
}

@media (max-width: 480px) {
    .search-input {
        width: 50vw;
        height: 6vh;
        margin: 0;
    }

    .search-container{
       margin: 2rem;
    }

    .App {
        display: flex;
        flex-direction: column;
        padding: 10px;
        background-image: url('http://wallpapercave.com/wp/4W2pw5V.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;
        /* text-align: center; */
    }

    p{
        font-size: 13px !important;
    }

    .main {
        width: 90vw;
        border-radius: 20px;
        background-color: transparent;
        background-image: linear-gradient(rgba(206, 206, 206, 0.101), rgba(150, 150, 150, 0.173));
        backdrop-filter: blur(5px);
    }

    .top {
        height: 60px;
        width: 90vw;
        background-color: #424242;
        color: whitesmoke;
        padding: 13px;
        border-radius: 20px 20px 0 0;
        font-family: 'Recursive', sans-serif;
        display: flex;
        justify-content: space-between;
    }

    .header {
        background-color: #424242;
        color: whitesmoke;
        margin: 0;
        font-size: 18px;
        border-radius: 20px 20px 0 0;
        font-family: 'Recursive', sans-serif;
    }

    .day {
        padding: 15px;
        color: whitesmoke;
        font-family: 'Recursive', sans-serif;
        font-size: 24px;
        font-weight: 600;
    }

    .temp {
        padding: 15px;
        color: whitesmoke;
        font-family: 'Recursive', sans-serif;
        font-size: 18px;
    }

    .flex {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        margin: 0 1rem;
    }

    .sunrise-sunset {
        padding: 25px;
        color: whitesmoke;
        font-family: 'Recursive', sans-serif;
    }

    .description {
        padding: 10px;
        color: whitesmoke;
        font-family: 'Recursive', sans-serif;
        font-size: 24px;
        font-weight: 600;
    }

    .search{
        margin: 0
    }

    .button {
        width: 35px;
        height: 35px;
    }

    .search-button{
        margin-top: 10px;
    }

}